apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smartbet-prod

resources:
  - ../../base
  - configmap.yaml
  - secret.yaml
  - namespace.yaml

commonLabels:
  environment: prod

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "250m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "500m"
    target:
      kind: Deployment
      name: smart-bet-backend

  - patch: |-
      - op: replace
        path: /spec/tls/0/hosts/0
        value: api.smartbet.example.com
      - op: replace
        path: /spec/rules/0/host
        value: api.smartbet.example.com
    target:
      kind: Ingress
      name: smart-bet-ingress

images:
  - name: ghcr.io/ednilsoncampos/smart-bet-manager-kotlin
    newTag: latest
