apiVersion: v1
kind: Service
metadata:
  name: smart-bet-backend
  namespace: smartbet-prod
  labels:
    app: smart-bet-backend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: smart-bet-backend
